.box {
    height: 115px;
    width: 166px;
}
.box .inner {
    background-color: #7a8b99;
    border-radius: 25px;
    height: 115px;
    left: 0;
    top: 0;
    width: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
}
